hostname {{ host_name }}
ip domain-name {{ domain_name }}
!
vlan {{ vlan_10_id }}
   name {{ vlan_10_name }}
!
vlan {{ vlan_20_id }}
   name {{ vlan_20_name }}
!
vlan {{ vlan_30_id }}
   name {{ vlan_30_name }}